.NavBar {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  width: 100%;
  background-color: white;
  .img-logo {
    width: 200px;
    height: auto;
  }
  .link-Switch {
    border-left: 1px solid black;
    font-size: 20px;
    margin-left: 20px;
    padding-left: 20px;
    color: var(--blue-color);
  }
}

@media (max-width:1000px) {
  .NavBar{
    justify-content: center;
  }
}