.form-three {
  width: 35%;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 10% 20px 0px;
  overflow-y: auto;
  h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
  }
}
.form-forget-password {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  input {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
    margin-bottom: 24px;
    cursor: pointer;
    height: 55px;
    padding: 10px;
    width: 100%;
  }
}
.div-forget-password{
    text-align: center;
    margin-top: 20px;
    p{
        margin-bottom: 32px;
    }
}
@media (max-width: 1440px) {
 .form-three{
    h3{
        font-size: 20px;
    }
 }
}